<ion-view view-title="主界面">
  <ion-content>
    <div class="banner">
      <img src="img/banner.png"/>
    </div>
    <div class="grid">
      <div class="row f_row">
        <div class="col" ui-sref="coverage">
          <img src="img/001.png" class="animated zoomIn"/>
          <p class="animated swing">寿险</p>
        </div>
        <div class="col" ui-sref="motor_insurance">
          <img src="img/002.png" class="animated zoomIn"/>
          <p class="animated swing">车险</p>
        </div>
      </div>
      <div class="row sec_row">
        <div class="col" ng-click="goto('/coverage')">
          <img src="img/003.png" class="animated zoomIn"/>
          <p class="animated swing">Contact Us</p>
        </div>
        <div class="col" ng-click="goto('/coverage')">
          <img src="img/004.png" class="animated zoomIn"/>
          <p class="animated swing">About Us</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
