<ion-view view-title="主页">
  <ion-content>
    <ion-slide-box does-continue="false" show-pager="true" >
      <ion-slide>
        <div class="banner">
          <img src="img/kongzi.jpg"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="banner">
          <img src="img/flowers_banner.jpg"/>
        </div>
      </ion-slide>
    </ion-slide-box>
    <!--<div class="grid">-->
      <!--<div class="row f_row">-->
        <!--<div class="col" ui-sref="coverage" ng-click="openModal()">-->
          <!--<img src="img/001.png" class="animated zoomIn"/>-->
          <!--<p class="animated swing">寿险</p>-->
        <!--</div>-->
        <!--<div class="col" ui-sref="motor_insurance" ng-click="openCarModal()">-->
          <!--<img src="img/002.png" class="animated zoomIn"/>-->
          <!--<p class="animated swing">车险</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row sec_row">-->
        <!--<div class="col" ng-click="goto('/coverage')">-->
          <!--<img src="img/003.png" class="animated zoomIn"/>-->
          <!--<p class="animated swing">Contact Us</p>-->
        <!--</div>-->
        <!--<div class="col" ng-click="goto('/coverage')">-->
          <!--<img src="img/004.png" class="animated zoomIn"/>-->
          <!--<p class="animated swing">About Us</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row">
      <div class="col tabs_col car_insurance" ng-click="tab_change(0)">
        <div style="text-align: center">
          <img src="img/001.png" class="animated zoomIn"/>
        </div>
        <div class="label">
          <span>车险</span>
        </div>
      </div>
      <div class="col tabs_col life_insurance" ng-click="tab_change(1)">
        <div style="text-align: center">
          <img src="img/002.png" class="animated zoomIn"/>
        </div>
        <div class="label">
          <span>寿险</span>
        </div>
      </div>
      <div class="col tabs_col maintain">
        <div style="text-align: center">
          <img src="img/003.png" class="animated zoomIn"/>
        </div>
        <div class="label">
          维修
        </div>
      </div>
      <div class="col tabs_col drive_service">
        <div style="text-align: center">
          <img src="img/004.png" class="animated zoomIn"/>
        </div>
        <div class="label">
          车驾管服务
        </div>
      </div>
    </div>

    <ion-scroll style="height: 60%;">

      <!-- 寿险 -->
      <div class="row" ng-if="tabIndex==1" ng-repeat="item in tabs[tabIndex].insurances" ng-model="life_insurance.flag">
        <div class="col col-90">
          <div class="item item-text-wrap item-thumbnail-left"
               ng-click="detail_ref(item)"
               style="border: 0;">

            <img ng-src="{{item.main.img!=undefined&&item.main.img!=null?('img/'+item.main.img):'img/1.jpg'}}"/>
            <div style="text-decoration: none">
              <h2 class="product-title">{{item.main.name}}</h2>
              <p class="list-price">
                {{item.main.description}}
              </p>
              <p class="list-price">合计: <i class="compare_at_price">{{item.price}}</i></p>

            </div>
          </div>
        </div>
      </div>

      <!-- 车险 -->
      <div class="row" ng-if="tabIndex==0" ng-repeat="item in tabs[tabIndex].insurances"
           style="border:1px solid #eee;padding:2px;margin-bottom:4px">
        <div class="col-80">
          <label class="item" style="border:0px;display: inline-block;width: 60%">
            {{item.name}}
          </label>
          <label class="item" style="border:0px;display: inline-block"
                 ng-click="price_select(item,item.prices)">
            保额:
          <span ng-if="item.price!=undefined&&item.price!=null">
            {{item.price}}
          </span>
            <i class="ion-ios-arrow-down" ng-if="item.prices!==undefined&&item.prices!==null"></i>
          </label>
        </div>
        <!--<div class="col-20">-->
        <!--<ion-radio ng-value="item.value"-->
        <!--ng-model="data.clientSide"-->
        <!--style="border:0px">-->

        <!--勾选-->
        <!--</ion-radio>-->
        <!--</div>-->
        <div class="col-20" style="position: relative">
          <li class="item item-checkbox" style="border: 0px;position: absolute;top:25%">
            <label class="checkbox">
              <input type="checkbox" checked="">
            </label>
          </li>
        </div>
      </div>
      <div class="bar bar-balanced" ng-click="specials_apply()" >
        <div class="title">提交信息</div>
      </div>
    </ion-scroll>


  </ion-content>

</ion-view>
