<ion-view view-title="确认投保" hide-back-button="true">


  <ion-content class="padding" scroll="false">

    <div class="row">
      <ion-slide-box does-continue="false" show-pager="true" >
        <ion-slide ng-repeat="item in plans" >

          <div class="prop_over">
            <h3>{{item.name}}</h3>
            <div class="list" style="margin-bottom:40px;padding:2px;">
              <ion-item >
                <div class="row">
                  <div class="col"><p style="font-size: 16px;"><i class="ion-record" style="padding-right: 10px;font-size: 80%"></i>保额:</p></div>
                  <div class="col"><p style="font-size: 16px;">{{item.coverage}}</p></div>
                </div>
              </ion-item>
              <ion-item >
                <div class="row">
                  <div class="col"><p style="font-size: 16px;"><i class="ion-record" style="padding-right: 10px;font-size: 80%"></i>保费:</p></div>
                  <div class="col"><p style="font-size: 16px;">{{item.fee}}</p></div>
                </div>
              </ion-item>
              <ion-item >
                <div class="row">
                  <div class="col"><p style="font-size: 16px;"><i class="ion-record" style="padding-right: 10px;font-size: 80%"></i>保险期间:</p></div>
                  <div class="col"><p style="font-size: 16px;">{{item.insPeriod}}</p></div>
                </div>
              </ion-item>
              <ion-item >
                <div class="row">
                  <div class="col"><p style="font-size: 16px;"><i class="ion-record" style="padding-right: 10px;font-size: 80%"></i>缴费期间:</p></div>
                  <div class="col"><p style="font-size: 16px;">{{item.payPeriod}}</p></div>
                </div>
              </ion-item>
              <ion-item >
                <div class="row">
                  <div class="col"><p style="font-size: 16px;"><i class="ion-record" style="padding-right: 10px;font-size: 80%"></i>首年保费:</p></div>
                  <div class="col"><p style="font-size: 16px;">{{item.firstFee}}</p></div>
                </div>
              </ion-item>
            </div>
          </div>

        </ion-slide>

      </ion-slide-box>
    </div>

    <div class="row" style="background-color:whitesmoke;">
      <span style="padding: 10px;font-size: large;">
        合计:
      </span>
      <span>{{sum}}</span>
    </div>

    <button class="button button-block button-positive">
     确认投保
    </button>

  </ion-content >

</ion-view>
