<ion-modal-view class="detail_modal animated slideInDown ">
  <div class="close_detmodal" ng-click="closeModal()">
    <img src="img/close.png"/>
  </div>
  <ion-content class="det_content">
    <div class="padding">

      <div class="item scroll-content" style="border:0px">
        <ul class="list">
          <li class="item item-divider">
           车险公司信息
          </li>

          <div ng-repeat="company in companys">
            <div class="row">
              <div class="col col-20" style="position: relative">
                <ion-checkbox style="border-width: 0px;position: absolute;top:25%">
                </ion-checkbox>
              </div>
              <div class="col col-80">
                <label class="item ng-binding" style="border-width: 0px;">
                  {{company.name}}
                </label>
              </div>
            </div>
          </div>



        </ul>
      </div>


      <a ui-sref="tabs.dashboard" ng-click="closedetail_modal()" class="button button-block button-positive add_btn">
        提交
      </a>
    </div>

  </ion-content>
</ion-modal-view>
