<ion-view view-title="我的订单">
    <ion-nav-bar class="bar-stable" align-title="center" >
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear bar_arr" ng-click="go_back()">
                <i class="ion-chevron-left"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear" ng-click="goto('/#/tabs/dashboard')">
                <i class="ion-ios-search-strong"></i>
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content>

        <div class="list" style="padding:10px">

            <div class="row" ng-repeat="order in orders" style="border:1px solid #eee;">
                <div class="col col-12" style="position: relative;border: 1px solid #eee;border-left:0px;">
                    <div style="position: absolute;top:30%">
                        <ion-checkbox style="margin-top: 30px;border: 0;padding-right:6px" ></ion-checkbox>
                    </div>
                </div>
                <div class="col col-18" style="text-align: center;position: relative;    border: 1px solid #eee;">
                    <div style="position: absolute;top:45%">
                        {{order.type}}
                    </div>
                </div>
                <div class="col col-60" style="    border: 1px solid #eee;">
                    <div class="item item-text-wrap item-thumbnail-left" style="border: 0;">
                        <div ng-repeat="scheme in order.schemes" ng-if="order.type=='车险'">
                            <h2 class="product-title" style="width:33%;display: inline-block">
                                {{scheme.name}}
                            </h2>
                            <p class="list-price" style="width:33%;display: inline-block">
                                <i class="compare_at_price">{{scheme.coverage}}</i>
                            </p>

                        </div>

                        <div ng-if="order.type=='寿险'">
                            <h2>主险:</h2>
                            <h4 class="product-title" style="width:33%;display: inline-block">
                                {{order.main.name}}
                            </h4>
                            <p class="list-price" style="width:33%;display: inline-block">
                                <i class="compare_at_price">{{order.main.coverage}}</i>
                            </p>

                            <h2 style="margin-top: 20px">附加险:</h2>
                            <div ng-repeat="addition in order.additions">
                                <h2 class="product-title" style="width:33%;display: inline-block">
                                    {{addition.name}}
                                </h2>
                                <p class="list-price" style="width:33%;display: inline-block">
                                    <i class="compare_at_price">{{addition.fee}}</i>
                                </p>
                            </div>


                        </div>
                    </div>
                </div>


                <div class="col col-15" style="position: relative">
                    <div style="box-sizing: border-box;padding: 10px;padding-top: 20px;position:absolute;top:30%">

                        <a ui-sref="motor_insurance_detail" style="text-decoration: none">
                        <lable>编辑</lable>
                        </a>

                    </div>

                </div>




            </div>
        </div>




        <a href="#/app/comment" class="button button-block button-positive comm_btn">
            确认投保
        </a>
    </ion-content>
</ion-view>
