
<ion-tabs class="tabs-icon-top tabs-color-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="车辆报价" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" ui-sref="tabs.coverage">
    <ion-nav-view name="coverage-tab"></ion-nav-view>
    <ion-nav-view name="price-tab"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="寿险方案" icon-off="ion-ios-ionic-outline" icon-on="ion-ionic" ui-sref="tabs.explore">
    <ion-nav-view name="tab-explore"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="维修救援" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="tabs.my">
    <ion-nav-view name="tab-my"></ion-nav-view>
  </ion-tab>




</ion-tabs>
