
<ion-view view-title="service-view" >
  <ion-content class="padding">
    <div class="list">

      <div class="item item-input-inset">
        <label class=" item-input" style="width: 50%;padding-top: 40px">
          <span class="input-label">车驾管服务</span>
          <input type="text">
        </label>

      </div>

      <div class="item item-input-inset">
        <label class=" item-input">
          <span class="input-label">车辆年审</span>
          <input type="text">
        </label>
      </div>

      <div class="item item-input-inset">
        <label class=" item-input">
          <span class="input-label">驾驶证年审</span>
          <input type="text">
        </label>
      </div>

      <div class="item item-input-inset">
      <label class=" item-input">
        <span class="input-label">违章提醒</span>
        <input type="text">
      </label>
    </div>

      <div class="item item-input-inset">
        <label class=" item-input">
          <span class="input-label">代办服务</span>
          <input type="text">
        </label>
      </div>

    </div>
  </ion-content>
</ion-view>
