<ion-view view-title="Current Rates" hide-back-button="true">
  <ion-nav-buttons side="primary">
    <button class="button" >About</button>
  </ion-nav-buttons>


  <ion-content class="padding">
    <div class="row">
      <div style="text-align:center;width:35%">保险公司</div>
      <div style="text-align:center;width: 20%">保费总和</div>
      <div style="text-align:center;width:25%">详情</div>
      <div style="text-align:center;width:20%">点选</div>
    </div>
    <ion-scroll zooming="true" direction="y" style="width: 100%; height: 370px">
      <div  ng-if="prices!=null">
        <ion-radio ng-repeat="price in prices"
                   ng-value="price.name"
                   ng-model="proj"
                   ng-click="proj_select(price)"
                   name="server-side">

          <div class="row">
            <div style="text-align:center;width:35%">
              {{price.name}}
            </div>
            <div style="text-align:center;width:25%">
              {{price.fee}}
            </div>
            <div style="text-align:center;width:40%">
                详细
            </div>
          </div>

        </ion-radio>

      </div>
    </ion-scroll>

  </ion-content>

  <script id="edit.html" type="text/ng-template">
    <div class = "modal">
      <ion-header-bar>
        <h1 class="title" style="font-weight: bolder">确认生成保险订单</h1>
      </ion-header-bar>
      <ion-content>
        <div class="card">
          <div class="item item-text-wrap" >
            <label class="item item-input "  >
              <span class="input-label"  style="width: 50%">保险项目:</span>
              <span class="input-label" style="width: 25%">保额:</span>
              <span class="input-label" style="width: 25%">保费:</span>
            </label>
            <label class="item item-input"  ng-repeat="proj in price.detail.projects" style="padding: 16px">
              <span>{{proj}}</span>
            </label>
            <label class="item item-input">
              <button class="button button-block button-positive" ng-click="generate_order()">
                生成
              </button>
              <span style="width:20%"></span>
              <button class="button button-block button-positive">
                取消
              </button>
            </label>
          </div>
        </div>
      </ion-content>
    </div>
  </script>

</ion-view>
