<ion-view  name="life_insurance-view" hide-back-button="false" >
    <ion-nav-bar>
        <ion-nav-title>
            <span> car info panel</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="padding">


            <div class="item item-input-inset">
                <label class=" item-input" style="width: 50%">
                    <span class="input-label">车主姓名</span>
                    <input type="text">
                </label>
                <label class=" item-input" style="width: 50%">
                    <span class="input-label">身份证号码</span>
                    <input type="text">
                </label>
            </div>


            <div class="item item-input-inset">
                <label class=" item-input" style="width: 50%">
                    <span class="input-label">车牌号</span>
                    <input type="text">
                </label>
                <label class=" item-input" style="width: 50%">
                    <span class="input-label">厂牌型号</span>
                    <input type="text">
                </label>
            </div>

            <div class="item item-input-inset">
                <label class=" item-input">
                    <span class="input-label">车架号</span>
                    <input type="text">
                </label>
            </div>

            <div class="item item-input-inset">
                <label class=" item-input">
                    <span class="input-label">发动机号</span>
                    <input type="text">
                </label>
            </div>

            <div class="item item-input-inset">
                <label class=" item-input">
                    <span class="input-label">初次登记日期</span>
                    <input type="text">
                </label>
            </div>

    
    </ion-content>
</ion-view>
