<ion-view  name="life_insurance-view" hide-back-button="false" >
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-title>
            <span> 车主与车辆信息</span>
        </ion-nav-title>
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
  <ion-nav-buttons side="left">
    <button class="button icon ion-reply" ng-click="doSomething()" >
      返回
    </button>
  </ion-nav-buttons>
    <ion-content class="padding">
      <div class="item scroll-content ">
        <ul class="list">
          <li class="item item-thumbnail-right item-button">
            <img src="">
            <h2>请上传身份证照片!</h2>
            <a class="item-button button  icon ion-plus-circled"></a>
          </li>
          <li class="item item-thumbnail-right item-button">
            <img src="">
            <h2>请上传驾驶证照片!</h2>
            <a class="item-button button  icon ion-plus-circled"></a>
          </li>
        </ul>
      </div>


            <div class="item item-input-inset">
                <label class=" item-input" style="width: 50%">
                    <span class="input-label">车主姓名</span>
                    <input type="text" ng-model="perName">
                </label>
            </div>
      <div class="item item-input-inset">
        <label class=" item-input" style="width: 50%">
          <span class="input-label">身份证号码</span>
          <input type="text" ng-model="perIdCard">
        </label>
      </div>


            <div class="item item-input-inset">
                <label class=" item-input" style="width: 50%">
                    <span class="input-label">厂牌型号</span>
                    <input type="text" ng-model="car.model">
                </label>
              <label class=" item-input" style="width: 50%">
                <span class="input-label">车牌号</span>
                <input type="text" ng-model="car.plateNum">
              </label>
            </div>

            <div class="item item-input-inset">
              <label class=" item-input" style="width: 50%">
                <span class="input-label">发动机号</span>
                <input type="text" ng-model="car.engineNum">
              </label>
                <label class=" item-input" style="width: 50%">
                    <span class="input-label">车架号</span>
                     <input type="text"  ng-model="car.VIN">
                </label>
            </div>
      <div class="item item-input-inset">
        <label class=" item-input">
          <span class="input-label">发证日期</span>
          <input id="date" ng-click= "datepick()"  type="text" style="width: 400px" placeholder="点击设置日期！" >

        </label>
      </div>

            <div class="item item-input-inset">
                <label class=" item-input">
                    <span class="input-label">初次登记日期</span>
                    <input type="text"  class="time_picker_box_text"  ng-model="car.registerDate" >
                </label>
            </div>


        <button class="button button-block button-calm" ng-click="nextStep()">
            下一步
        </button>

    </ion-content>
</ion-view>
