<ion-view  name="life_plan_view" hide-back-button="false" >
  <ion-nav-bar align-title="center" class="bar-positive">
    <ion-nav-title>
      <span> 计划书</span>
    </ion-nav-title>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="left">
      <button class="button icon ion-reply" ng-click="doSomething()" >
        返回
      </button>
  </ion-nav-buttons>

  <ion-content class="padding">
      <div class=" row header">
        <div class="col "style="text-align:center">名称</div>
        <div class="col ">保额费</div>
        <div class="col ">保险期间</div>
        <div class="col ">缴费期间</div>
        <div class="col ">首年保费</div>
        <div class="col "style="text-align:center">详情</div>
        <div class="col ">点选</div>
      </div>

      <div class=" row ">
        <div class="col " style="text-align:center">12</div>
        <div class="col " style="text-align:center">12</div>
        <div class="col "style="text-align:center">12</div>
        <div class="col "style="text-align:center">12</div>
        <div class="col "style="text-align:center">12</div>
        <div class="col "style="text-align:center">12</div>
        <div class="col checkbox ">
          <input type="checkbox">
        </div>
      </div>




      </ion-content>

</ion-view>
