<ion-view  name="life_plan_view" hide-back-button="false" >
  <ion-nav-bar align-title="center" class="bar-positive">
    <ion-nav-title>
      <span> 计划书</span>
    </ion-nav-title>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-buttons side="left">
      <button class="button icon ion-reply" ng-click="doSomething()" >
        返回
      </button>
  </ion-nav-buttons>

  <ion-content class="scroll-content ionic-scroll has-header">
    <div class="scroll">
      <div class="padding-5">
        <div class="" >
          
        </div>
      </div>
    </div>
  </ion-content>




</ion-view>
