<ion-view view-title="service-view" >
  <ion-content class="padding">
    <div class="list">

      <div class="item item-input-inset">
        <label class=" item-input" style="width: 50%;padding-top: 40px">
          <span class="input-label">位置</span>
          <input type="text">
        </label>

      </div>

      <div class="item item-input-inset">
        <label class=" item-input">
          <span class="input-label">品牌4S店</span>
          <input type="text">
        </label>
      </div>

      <div class="item item-input-inset">
        <label class=" item-input">
          <span class="input-label">综合修理厂</span>
          <input type="text">
        </label>
      </div>

      <div class="item item-input-inset">
        <label class=" item-input">
          <span class="input-label">专项维修</span>
          <input type="text">
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
