<ion-view view-title="车险报价方案详情">

  <ion-nav-bar class="bar-stable" align-title="center" >
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear bar_arr" ng-click="go_back()">
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="goto('/#/tabs/dashboard')">
        <i class="ion-ios-search-strong"></i>
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content class="padding">
    <div class="row">
      <div style="text-align:center;width:33%">保险项目</div>
      <div style="text-align:center;width:33%">保额</div>
      <div style="text-align:center;width:33%">保费</div>
    </div>

      <div  ng-if="item!=null">
        <div ng-repeat="type in item.types">
          <div class="row">
            <div class="col col-33">
              <label class="item" style="border-width: 0px;">
                {{type.name}}
              </label>
            </div>
            <div class="col col-33">
              <label class="item" style="border-width: 0px;">
                {{type.price}}
              </label>
            </div>
            <div class="col col-33" style="position: relative">
              <label class="item" style="border-width: 0px;">
                {{type.fee}}
              </label>
            </div>
          </div>
        </div>
      </div>

      <div style="box-sizing:border-box;padding:3%;height:8%;text-align:left;font-size:larger;background-color: #f8f8f8;">
        <lable>合计:</lable>
        {{item.sum}}
      </div>




  </ion-content>

</ion-view>
