<ion-content class="login_page">
  <div class="logo">

  </div>
  <form class="log_form">
    <div>
      <h3>Undefined</h3>
      <p>It’s free ! Connect with your </br><span>Facebook or Google account</span></p>


        <label class="item item-input" style="border-left: 0px;border-right: 0px;border-top: 0px;margin: 10px;">
          <i class="icon ion-android-call placeholder-icon"></i>
          <input type="email" placeholder="请输入手机号" style="font-size:medium;">
        </label>
        <label class="item item-input" style="border-left: 0px;border-right: 0px;margin: 10px;">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" placeholder="请输入密码" style="padding-right:0;max-width:85%;font-size:medium;">
          <i class="icon ion-close-circled placeholder-icon"></i>
        </label>

      <div class="row three_btn">
        <div class="col" style="text-align: left;">
          <lable style="color: #3888f5;font-family: inherit;font-size:medium;padding: 10px;" ng-cilck="goto()">
            忘记密码
          </lable>
        </div>
        <div class="col"  style="text-align: right;">
          <button class="button button-block button-positive" style=" background-color:#ccc;" ng-cilck="goto()">
            <lable style="color:white;font-family: inherit;">登录</lable>
          </button>
        </div>
        <div class="col"  style="text-align: right;">
          <lable style="color: #3888f5;font-family: inherit;font-size:medium;padding: 10px;" ng-click="forgetPsd()">
            注册新用户
          </lable>
        </div>
      </div>


    </div>
  </form>
</ion-content>
